html, body {
    height: 100%;
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.background-transparent {
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.background-white {
    background-color: white;
    height: 100%;
    width: 100%;
}

.blur_back {
    filter: blur(80px);
    -webkbackit-filter: blur(80px);
    -moz-filter: blur(80px);
    -o-filter: blur(80px);
}
.blur_album_back {
    filter: blur(60px);
    -webkit-filter: blur(60px);
    -moz-filter: blur(60px);
    -o-filter: blur(60px);
}
.moblie_back_style{
    opacity: 0.6;
}

.blur_back_trans {
    transition: 1.5s filter ease-in;
    -moz-transition: 1.5s -moz-filter ease-in; /* Firefox 4 */
    -webkit-transition: 1.5s -webkit-filter ease-in; /* Safari and Chrome */
    -o-transition: 1.5s -o-filter ease-in; /* Opera */
}
.blur_front_trans {
    transition: 0.2s filter ease-in;
    -moz-transition: 0.2s -moz-filter ease-in; /* Firefox 4 */
    -webkit-transition: 0.2s -webkit-filter ease-in; /* Safari and Chrome */
    -o-transition: 0.2s -o-filter ease-in; /* Opera */
}
.none_back {
    background: rgba(255, 255, 255, 0);
}

.jilao {
    text-align: center;
}
#footer {
    background: linear-gradient(to top,white 50%,transparent);
}
.navbar_effect{
    opacity: 0;
}
.black_layer{
    background-color: rgba(0,0,0,0.5);
    width: 100%;

}
.player_btn{
    position: absolute;
    width: 16vw;
    left: 2vw;
    background-color:rgba(144,238,144,1);
    transition: 0.5s background-color ease-in;
}
.player_btn_mobile{
    transition: 0.5s background-color ease-in;
    text-align: center;
}
.transparent_back_trans{
    transition: 1.5s opacity ease-in;
    -moz-transition: 1.5s -moz-opacity ease-in; /* Firefox 4 */
    -webkit-transition: 1.5s -webkit-opacity ease-in; /* Safari and Chrome */
    -o-transition: 1.5s -o-opacity ease-in; /* Opera */
}

.back_style {
    width: 100%;
    height: 100%;
    background: url(back/1.png) no-repeat right center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;bottom: 0
}
.transparent_back{
    opacity: 0;
}

#table_layer{
    position: absolute;
    width: 100vw;height: 100vh ;
    bottom: 0;
    background-color: rgba(255,255,255,0.3);
    opacity: 0;
}